{% extends 'base.html' %}
{% block title %}| Recipe Detail{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex flex-column">
                    <h1 class="my-4 text-center">
                        {{ recipe.title }}
                    </h1>
                    <img src="{{ recipe.image.url }}" alt="Recipe image">
                        <p style="text-align: justify;" class="my-3 fs-5 fw-normal">
                            {{ recipe.description|linebreaksbr }}
                        </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
